{% load static %}
<header class="header">
  <nav class="header__content">
    <div class="header__buttons">
      <a href="/" class="header__home">
            <img src="{% static 'assets/logo.svg' %}" alt="">
      </a>

     
    </div>

    <div class="header__search">
      <input type="text" placeholder="Search" />
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z"
          fill="#A5A5A5"
          stroke="#A5A5A5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <div class="header__buttons header__buttons--mobile">
      {% if request.user.is_authenticated %}
     
      <a href="#">
        <img src="{% static 'assets/icons/heart.svg' %}" alt="">
       
      </a>
       <a href="{% url 'pages:find-friend'%}">
        <img src="{% static 'assets/icons/global-connect.svg' %}" style="width:24px" alt="">
      </a>
      <a href="#">
        
        <img src="{% static 'assets/icons/messenger.svg' %}"  alt="">
      </a>
      {% else %}
     <a href="{% url 'accounts:login' %}"> Login </a>
      <a href="{% url 'accounts:register' %}"> register </a>
      {% endif %}
    </div>

    <div class="header__buttons header__buttons--desktop">
    
      {% if request.user.is_authenticated %}
        <a href="/">
        <img src="{% static 'assets/icons/home.svg' %}" alt="">
       
      </a>
      <a href="{% url 'pages:add-post' %}">
        <img src="{% static 'assets/icons/add.svg' %}" alt="">
      </a>
       <a href="{% url 'pages:find-friend'%}">
        <img src="{% static 'assets/icons/global-connect.svg' %}" style="width:24px" alt="">
      </a>
      <a href="#">
        <img src="{% static 'assets/icons/heart.svg' %}" alt="">
         
      </a>
      
      <a href="#">
        <img src="{% static 'assets/icons/messenger.svg' %}" alt="">
       
      </a>
    
      
      <a href="{% url 'pages:profile' %}" class="profile-button">
        <div class="profile-button__border"></div>
        <div class="profile-button__picture">
          <img
            src="{% static 'assets/default-user.png' %}"
            alt="User Picture"
          />
        </div>
      </a>
      {% else %}
      <a href="{% url 'accounts:login' %}"> Login </a>
      <a href="{% url 'accounts:register' %}"> register </a>
      {% endif %}
    </div>
  </nav>
</header>
